# usage: cp .env-example .env, then fill in

# from `terraform output bucket_name` in ../terraform
GCP_GCS_BUCKET=gcs-bucket_name

# from `terraform output dataset_id` in ../terraform (default: dwh_benchmark)
GCP_DATASET=dataset

# from `terraform output project_id` in ../terraform
GCP_PROJECT_ID=your-project-id